.App {
    text-align: center;
}

header {
    h1 {
        margin-bottom: 0px;
    }
    h2 {
        margin-top: 0px;
    }
}

nav {
    ul {
        list-style: none;
        padding: 0;
        display: flex;
        justify-content: center;
        gap: 12px
    }
}

#diagramDiv {
    max-width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    div {
        canvas {
            min-width: 800px;
            min-height: 500px;
        }
    }
}
#puppySettingsDiv {
    display: flex;
    justify-content: center;
    gap: 24px;
    align-items: center;
    #puppyRadioDiv {
        display: flex;
        justify-content: center;
        gap: 12px;
        margin-bottom: 24px;
    }
}

#puppyImageDiv {
    max-width: 1400px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    div {
        margin: 12px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        img {
            max-height: 300px;
            max-width: 200px;
            border-radius: 4px;
        }

        max-width: 200px;
    }
}