.App {
    text-align: center;
}

header {
    h1 {
        margin-bottom: 0px;
    }
    h2 {
        margin-top: 0px;
    }
}

nav {
    ul {
        list-style: none;
        padding: 0;
        display: flex;
        justify-content: center;
        gap: 12px
    }
}